@import 'milligram/milligram';

// spinner 1

$color-primary: #ccc;

.animation {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 250px;
  height: 250px;
  position: relative;
}

.spinner {
  width: 200px;
  height: 200px;
  border-top: 2px solid $color-primary;
  border-right: 10px solid;
  animation: spinner 1s infinite linear;
  border-radius: 100%;
  @keyframes spinner {
  to {
    transform: rotate(360deg);
    }
  }   
}

.logo {
  height: 100px;
  margin-bottom: 50px;
  animation: logo 5s infinite;
  @keyframes logo {
    75% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }  
}

.anim-bounce {
  width: 100px;
  height: 100px;
  margin-bottom:60px;
  animation: anim-bounce 1s infinite linear;
  border-radius: 100%;
  position: absolute;
  @keyframes anim-bounce {
    0% { bottom: 5px; }
    25% { bottom: 15px; }
    75% { bottom: 15px; }
    50% { bottom: 20px; }
    100% { bottom: 0; }
  }  
}


.loader {
  width: 150px;
  max-width: 150px;
  height: 8px;
  position: absolute;
  border-radius: 4px;
  background: honeydew;
  color: #7fba23;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background-color: #0081b9;
    animation: load 11s linear;
  }

  @keyframes load {
    0% { width: 0; }
    10% { width: 5%; }
    20% { width: 15%; }
    30% { width: 25%; }
    40% { width: 30%; }
    50% { width: 45%; }
    60% { width: 50%; }
    70% { width: 75%; }
    80% { width: 85%; }
    90% { width: 95%; }
    100% { width: 100%; }
  }
}

// progress

.percent {
    position: absolute;
    font-size: 2rem;
}